<% provide(:title, 'Comments') %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/sidebar' %>
    </section>
  </aside>
  <div class="span8">
    <div class="center hero-unit">
      <h2>Comments</h2>

      <% @comments.each do |c| %>
        <% @yardsale = Yardsale.find_by_id(c.yardsale_id) %>
        <span class="description"><%= c.comment %></span>
        <span class="timestamp">Posted on <%= @yardsale.title %> <%= time_ago_in_words(c.created_at) %> ago.</span>
        <%= link_to "delete", user_comment_path(@user, c), method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</div>