<li>
  <span class="description">Title: <%= link_to yardsale.title, yardsale_path(yardsale.id) %></span>
  <span class="description">Date: <%= yardsale.date %></span>
  <span class="description">From: <%= yardsale.begin_time %> Till: <%= yardsale.end_time %>:</span>
  <span class="description">Description: <%= yardsale.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(yardsale.created_at) %> ago. |
    <%= link_to "delete", yardsale, method: :delete, data: { confirm: 'You sure?' } %>
</li>